
Star/Intermediate/Build/BuildRules/StarModuleRulesManifest.json
Star/Intermediate/Build/SourceFileCache.bin
Star/Intermediate/Build/Win64/ActionHistory.bin
Star/Intermediate/Build/Win64/StarEditor/Development/StarEditor.deps
Star/Intermediate/Build/Win64/StarEditor/Development/StarEditor.uhtmanifest
Star/Intermediate/Build/Win64/StarEditor/Development/StarEditor.uhtpath
Star/Intermediate/Build/Win64/UnrealEditor/Inc/Star/UHT/Star.init.gen.cpp
Star/Intermediate/Build/Win64/UnrealEditor/Inc/Star/UHT/StarClasses.h
Star/Intermediate/Build/Win64/UnrealEditor/Inc/Star/UHT/StarGameModeBase.gen.cpp
Star/Intermediate/Build/Win64/UnrealEditor/Inc/Star/UHT/StarGameModeBase.generated.h
Star/Intermediate/Build/Win64/UnrealEditor/Inc/Star/UHT/Timestamp
Star/Intermediate/Build/Win64/x64/StarEditor/ActionHistory.bin
Star/Intermediate/Build/Win64/x64/StarEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.InclOrderUnreal5_1.cpp
Star/Intermediate/Build/Win64/x64/StarEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.InclOrderUnreal5_1.h
Star/Intermediate/Build/Win64/x64/StarEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.InclOrderUnreal5_1.h.dep.json
Star/Intermediate/Build/Win64/x64/StarEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.InclOrderUnreal5_1.h.obj
Star/Intermediate/Build/Win64/x64/StarEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.InclOrderUnreal5_1.h.obj.response
Star/Intermediate/Build/Win64/x64/StarEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.InclOrderUnreal5_1.h.pch
Star/Intermediate/Build/Win64/x64/StarEditor/Development/Makefile.bin
Star/Intermediate/Build/Win64/x64/StarEditor/Development/TargetMetadata.dat
Star/Intermediate/Build/Win64/x64/UnrealEditor/ActionHistory.bin
Star/Intermediate/Build/Win64/x64/UnrealEditor/Development/Star/Default.rc2.res
Star/Intermediate/Build/Win64/x64/UnrealEditor/Development/Star/Default.rc2.res.response
Star/Intermediate/Build/Win64/x64/UnrealEditor/Development/Star/Definitions.Star.h
Star/Intermediate/Build/Win64/x64/UnrealEditor/Development/Star/LiveCodingInfo.json
Star/Intermediate/Build/Win64/x64/UnrealEditor/Development/Star/Star.cpp.dep.json
Star/Intermediate/Build/Win64/x64/UnrealEditor/Development/Star/Star.cpp.obj
Star/Intermediate/Build/Win64/x64/UnrealEditor/Development/Star/Star.cpp.obj.response
Star/Intermediate/Build/Win64/x64/UnrealEditor/Development/Star/Star.init.gen.cpp.dep.json
Star/Intermediate/Build/Win64/x64/UnrealEditor/Development/Star/Star.init.gen.cpp.obj
Star/Intermediate/Build/Win64/x64/UnrealEditor/Development/Star/Star.init.gen.cpp.obj.response
Star/Intermediate/Build/Win64/x64/UnrealEditor/Development/Star/StarGameModeBase.cpp.dep.json
Star/Intermediate/Build/Win64/x64/UnrealEditor/Development/Star/StarGameModeBase.cpp.obj
Star/Intermediate/Build/Win64/x64/UnrealEditor/Development/Star/StarGameModeBase.cpp.obj.response
Star/Intermediate/Build/Win64/x64/UnrealEditor/Development/Star/StarGameModeBase.gen.cpp.dep.json
Star/Intermediate/Build/Win64/x64/UnrealEditor/Development/Star/StarGameModeBase.gen.cpp.obj
Star/Intermediate/Build/Win64/x64/UnrealEditor/Development/Star/StarGameModeBase.gen.cpp.obj.response
Star/Intermediate/Build/Win64/x64/UnrealEditor/Development/Star/UnrealEditor-Star.dll.response
Star/Intermediate/Build/Win64/x64/UnrealEditor/Development/Star/UnrealEditor-Star.exp
Star/Intermediate/Build/Win64/x64/UnrealEditor/Development/Star/UnrealEditor-Star.lib
Star/Intermediate/Build/Win64/x64/UnrealEditor/Development/Star/UnrealEditor-Star.lib.response
Star/Intermediate/Build/Win64/x64/UnrealEditor/Development/Star/UnrealEditor-Star.suppressed.exp
Star/Intermediate/Build/Win64/x64/UnrealEditor/Development/Star/UnrealEditor-Star.suppressed.lib
Star/Intermediate/CachedAssetRegistry.bin
Star/Intermediate/Config/CoalescedSourceConfigs/Crypto.ini
Star/Intermediate/Config/CoalescedSourceConfigs/GameUserSettings.ini
Star/Intermediate/Config/CoalescedSourceConfigs/InternationalizationExport.ini
Star/Intermediate/Config/CoalescedSourceConfigs/LocalizationServiceSettings.ini
Star/Intermediate/Config/CoalescedSourceConfigs/ObjectMixer.ini
Star/Intermediate/Config/CoalescedSourceConfigs/ObjectMixerSerializedData.ini
Star/Intermediate/Config/CoalescedSourceConfigs/TranslationPickerSettings.ini
Star/Intermediate/Config/CoalescedSourceConfigs/UnrealInsightsSettings.ini
Star/Saved/SourceControl/UncontrolledChangelists.json
Star/Saved/Logs/Star.log
Star/Saved/Config/WindowsEditor/GameUserSettings.ini
Star/Saved/Config/WindowsEditor/Game.ini
Star/Saved/Config/WindowsEditor/Engine.ini
Star/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Star/Saved/Config/CrashReportClient/UECC-Windows-6529FD4A45B5403F062F2887EDACB587/CrashReportClient.ini
Star/Intermediate/TargetInfo.json
Star/Intermediate/ShaderAutogen/PCD3D_SM6/AutogenShaderHeaders.ush
Star/Intermediate/ShaderAutogen/PCD3D_SM5/AutogenShaderHeaders.ush
Star/Intermediate/ShaderAutogen/PCD3D_ES3_1/AutogenShaderHeaders.ush
Star/Intermediate/ReimportCache/3688439234.bin
Star/Intermediate/ProjectFiles/UE5.vcxproj.user
Star/Intermediate/ProjectFiles/UE5.vcxproj.filters
Star/Intermediate/ProjectFiles/UE5.vcxproj
Star/Intermediate/ProjectFiles/Star.vcxproj.user
Star/Intermediate/ProjectFiles/Star.vcxproj.filters
Star/Intermediate/ProjectFiles/Star.vcxproj
Star/Intermediate/Build/BuildRules/StarModuleRules.pdb
Star/Intermediate/Build/BuildRules/StarModuleRules.dll
Star/.vs/Star/v16/Solution.VC.db-wal
Star/.vs/Star/v16/Solution.VC.db-shm
Star/.vs/Star/v16/Solution.VC.db
Star/.vs/Star/v16/ipch/AutoPCH/162b0301ae4a2949/STARGAMEMODEBASE.ipch
Star/.vs/Star/v16/Browse.VC.opendb
Star/.vs/Star/v16/Browse.VC.db-wal
Star/.vs/Star/v16/Browse.VC.db-shm
Star/.vs/Star/v16/Browse.VC.db
Star/.vs/Star/v16/.suo
Star/Star.sln
